@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

*{
    background-color: #ffffff;
}

.rounded{
    background-color: $dark;
}


.header{
    color: $dark;
    font-weight: 700;
}
a{
    font-family: Arial, Helvetica, sans-serif;
    font: bold;
}
